<h1> <%= mesdata.title %> </h1>

  <form method="POST" action="/user/<%= user.id%>" >
    <p>Description :  </p><input type="text" name="Description" >
    <input type="submit" value="submit">
  </form>

  <form method="POST" action="/user/<%= user.id%>" >
      <p>Prenom :  </p><input type="text" name="prenom" >
      <input type="submit" value="submit">
  </form>

  <form method="POST" action="/user/<%= user.id%>" >
        <p>Nom :  </p><input type="text" name="nom" >
        <input type="submit" value="submit">
  </form>

  <div class="compte">
            <a href="http://localhost:1337/moncompte"><h3>Retour à mon compte</h3></a>
  </div>
