<!DOCTYPE html>

<html>

<head></head>

<body>
  <p>Salut les participants !</p>
  <script type="text/javascript">
    var toto = "salut";

    //alert("hello");

    function test(argl){
      alert(argl);
    }
  </script>

  <script type="text/javascript">
    //alert(toto);

    test("je passe une valeur");
  </script>
</body>
